.Calculator > h2 {
  font-size: 0.34rem;
  color: #323333;
  text-align: center;
  padding: 0.5rem 0 0.2rem 0;
}
.Calculator .border {
  width: 0.94rem;
  height: 0.04rem;
  background: #ebac30;
  display: block;
  margin: 0 auto;
}
.Calculator > b {
  width: 7.5rem;
  height: 0.01rem;
  background: #767777 ;
  display: block;
}
.Calculator .one {
  width: 6.45rem;
  background: url(http://wap.jmyzhuang.com/templets/wap/img/baojia-2.png) no-repeat;
  padding: 0.4rem;
  background-size: contain;
  margin: 0.4rem auto;
}
