.Index .whatstyle {
  width: 7.5rem;
  height: 3rem;
  position: relative;
  background: url(style.jpg) no-repeat;
  background-size: cover;
  margin-top: 0.2rem;
}
.Index .whatstyle .button {
  width: 2.47rem;
  display: inline-block;
  height: 0.74rem;
  background: url(ceshi.png) no-repeat;
  background-size: cover;
  position: absolute;
  left: 50%;
  margin-left: -1.235rem;
  bottom: 0.12rem;
}
.Index footer {
  height: 1rem;
  width: 7.5rem;
}
.Index footer img {
  width: 100%;
  height: 100%;
  margin-top: 0.6rem;
}
.nb-icon-wrap-base {
  background: url(QQ.png) no-repeat !important;
  background-size: cover!important;
  position: fixed;
  top: 3rem;
  right: 0.2rem;
  width: 1.24rem;
  height: 1.24rem;
  display: block;
}
